*
{
  margin: 0;
}

.center{
  text-align: center;
  padding-top: 2rem;
}

.vertical{
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: rotate(180deg);
    font-size: initial;
}


  /* display: inline-block;
  padding-left: 10rem;
  padding-top: 1rem;
  padding-bottom: 1rem; */

.firstHr{
  border: 2px solid #F0F0F0;
  width: 80%;
}

.flexProperty{
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}


.navTag{
      display: flex;
      width: 80%;
      justify-content: space-evenly;
      
}




.mainContainer{
  /* position: relative; */
      padding-top: 2rem;
      display: flex;
      justify-content: center;
      /* width: 80%; */
}

.subContainer{
  /* position: absolute;
  left: 10%;*/
  width: 75%; 

}

.imageContainer{
  height: 420px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 5px;
}

.firstImage{
  background-image: url(./Components/Images/img8.jpg);
  background-size: cover;
  grid-row: span 2;
  grid-column: 1 / span 2;
  position: relative;
  border-radius: 7px;
  opacity: 1; 
}

.firstImageTextOne{
  position: absolute;
  top: 70%;
  left: 5%;
  opacity: 2;
  font-size: 40px;
  color: #FFFFFF;
  opacity: 1; 
}

.firstImageTextTwo{
  position: absolute;
    top: 80%;
    /* color: #FCFCFC;
    opacity: 0.57; */
    left: 5%;
}

.secondImage{
  background-image: url(./Components/Images/img3.jpg);
  background-size: cover;
  position: relative;
  border-radius: 7px;
  opacity: 1; 
}
.secondImageTextOne{
  position: absolute;
  top: 45%;
  color: #ffff;
  font-size: 30px;
  opacity: 1; 
  LEFT: 4%;
}

.secondImageTextTwo{
  position: absolute;
  top: 55%;
  color: #ffff;
  font-size: 30px;
  opacity: 1;         
  LEFT: 4%;
}

.secondImageTextThree{
  position: absolute;
  top: 82%;
  /* opacity: 0.57;
  color: #FCFCFC; */
  LEFT: 4%;

}

.thirdImage{
  background-image: url(./Components/Images/img3.jpg);
  background-size: cover;
  position: relative;
  border-radius: 7px;
}


.thirdImageTextOne{
  position: absolute;
  top: 45%;
  color: #ffff;
  font-size: 30px;
  opacity: 1; 
  LEFT: 4%;

}

.thirdImageTextTwo{
  position: absolute;
  top: 55%;
  color: #ffff;
  font-size: 30px;
  opacity: 1;         
  LEFT: 4%;

}

.thirdImageTextThree{
  position: absolute;
  top: 82%;
 
  LEFT: 4%;

}
/* .bannerTravel {
  opacity: 0.57;
  color: #FCFCFC;
}    */

.genericHeaderHr{
  width: 5rem;
border: 2px solid red;
}


.genericDate{
  opacity: 0.57;
  color: #FCFCFC;
}

.TheLatestImg{
  width: 100%;
  /* height: 224px; */
  height: 180px;
}

.theLatest{
  /* display: flex;  */
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding-top: 3rem;
}

.genericDateExt{
  color: #404040;
opacity: 0.24;
}

.genericDateTravel{
  color: #404040;
  opacity: 1;}

  .bannerContent{
    width: 85%;
  }

  .bannerMainContent{
    color: #908D8D;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  .commonHr{
    border: 2px solid #F0F0F0;
  }

  .spacer{
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

.LatestArtBlock{
  display: flex;
  gap: 25px;
  position: relative;
}

.LatestArtDate{
  position: absolute;
  bottom: 10px;
}

.LatestArtDetail{
  padding-top: 15px;
}

.latestArtImg2{
  width: 100%;
  height: 170px;
}

.loadMore{
  padding-top: 2rem;
}

.arrowText{
  padding-left: 10px;
  color: #A2A2A2;
}

.theLatestbox{
  box-shadow: 0px 5px 35px #00000008;
}


.homeContainer{
     /* display: flex; */
     gap: 40px;
     /* width: 80%; */
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     /* border: 2px solid red; */
}